[#if !themeDisplay.isSignedIn()]
		<div class="banner-sign-in">
				<div class="banner-info">
					<div class="banner-content">
						<span data-lfr-editable-id="text" data-lfr-editable-type="text">
							to save your learning progress and start earning Course Badges!
						</span>

						<a data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
							Log in
						</a>
					</div>

					<div class="icon-x"></div>
			</div>
		</div>

		<style>
			.has-control-menu nav.public-sites-navigation {
					margin-top: 3.5rem;
					position: relative;
			}
			nav.public-sites-navigation {
					top: 52px;
			}
			.learn-nav-bar {
				height: 168px;
			}
		</style>
[/#if]