<div class="carousel-card">
	<div class="carousel-card-container">
		<div class="carousel-card-tag" data-lfr-editable-id="carousel-card-tag" data-lfr-editable-type="text">
			Example Tag
		</div>

		<div class="carousel-card-image">
			<img alt="Carousel Card" data-lfr-editable-id="carousel-card-img" data-lfr-editable-type="image" />
		</div>

		<div class="carousel-card-information">
			<div class="card-text">
				<div class="card-title" data-lfr-editable-id="carousel-card-title" data-lfr-editable-type="text">
					Example Title
				</div>
		
				<div class="card-description" data-lfr-editable-id="carousel-card-description" data-lfr-editable-type="text">
					Example Description
				</div>
			</div>
			
			<div class="card-cta">
				<a href="${configuration.ctaLink}">
					<div data-lfr-editable-id="carousel-card-cta" data-lfr-editable-type="text">
						Example CTA
					</div>
				</a>
				<div class="cta-icon">
					
				</div>
			</div>
		</div>
	</div>
</div>